<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item href="https://www.semana.com">Semana</ion-item>
        <ion-item href="https://www.elespectador.com">El Espectador</ion-item>
        <ion-item href="https://www.eltiempo.com">El Tiempo</ion-item>
        <ion-item href="https://www.eltiempo.com">El Tiempo</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>



  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let item of lista">
        <ion-icon name=""></ion-icon>
      </button>
    </ion-list>


    <div (click)="abrirSemana()">
      <ion-card>
        <ion-card-content>
          <img src="../../assets/icon/img/semana.png">
        </ion-card-content>
      </ion-card>
    </div>

    <ion-card>
      <ion-card-content>
        <img src="../../assets/icon/img/el_tiempo.jpg">
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <img src="../../assets/icon/img/el_espectador.png">
      </ion-card-content>
    </ion-card>
  </ion-content>



  <ion-router-outlet id="main"></ion-router-outlet>

</ion-content>