<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenuNoticias()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-menu-button slot="start" color="primary" menu="menuNoticias"></ion-menu-button> -->
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-menunoticias></app-menunoticias>
  <ion-router-outlet id="noticias"></ion-router-outlet>

  <ion-card *ngFor='let opc of menuNoticias' [href]="opc.enlace">
    <ion-card-content >
      <img [src]="opc.imagen">
    </ion-card-content>
  </ion-card>


</ion-content>