<ion-menu side="start" menuId="menuNoticias" contentId="noticias">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú Noticias</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let opc of menuNoticias" [href]="opc.enlace">
        {{ opc.nombre }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>